/* to show your CSS things, you'll likely need to use this file */

body {
  width: 85%;
  color: #303030;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0, 40, .2);
}
p {

}

a {
  color:darkmagenta;
  text-decoration: none;
}
a:visited {
  color: red;
  text-decoration: none;
}

pre {
  font-size: .8rem;
  white-space: pre-wrap;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(5, 80px);
}

/* Some grid styles
*/

.grid-child {
  background-color: rgba(0, 100, 0, 0.2);
  border: solid green 5px;
  padding: 10px;
}

#one {
  grid-column: 1/4;
  grid-row: 1/5;
}

#two {
  grid-column: 1/3;
  grid-row: 3/5;
}

#three {
  grid-column: 1;
  grid-row: 5;
}

#four {
  grid-column: 2/4;
  grid-row: 1/6;
}

#five {
  grid-column: 3;
  grid-row: 3/6;
}